html,
body {
  min-height: 100vh;
  margin: 0;
  background-image: url("/background.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}
