@use "@/styles/variables" as *;

.pageHeader {
  margin-bottom: 32px;
  text-align: center;
}

.title {
  font-size: clamp(20px, 4vw, 28px);
  font-weight: 700;
  margin-bottom: 8px;
  color: $white;
}

.subtitle {
  font-size: clamp(14px, 2vw, 16px);
  color: $white;
}
